<ol>
<% Post.all.each do |post| %>
  <% unless post.url.nil? %> 
  <li><a href='<%=post.full_url%>'><%=post.title %></a> (<%=post.url_domain%>)
    <br>
  by <a href='/user/<%=post.user.id%>'><%=post.user.name%></a>
    <%= post.age %> hours ago | 
    <a href='/post/<%=post.id%>'><%= post.comments.count %> comments</a></li>
  <% end %>
  <% end %>
</ol>

