<p>user: <%= user.name %></p>
<p>created: <%= user.days_active %> days ago</p>
<p>about: <%= user.about %></p>
<a href="/user/<%= user.id %>/posts">posts</a>
<br>
<a href="/user/<%= user.id %>/comments">comments</a>
